.container {
    margin: 1rem 0rem;
}

.toolbar {
    flex-wrap: wrap;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    text-align: baseline;
}

.toolbar ul {
    display: flex;
    list-style: none;
}

.toolbar nav a {
    font-size: 1rem;
    margin: 0 .5rem;
}

.toolbarTitle {
    font-size: 1rem;
}

.footer {
    text-align: center;
    font-size: .8rem;
}
