.container {
    margin: 0;
    background-color: #FFFFFB;
}

.toolbar {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    text-align: baseline;
}

.toolbar ul {
    display: flex;
    list-style: none;
}

.toolbar nav a {
    font-family: "WeeklyAlt";
    font-weight: 300;
    font-size: 1.25rem;
    margin: 0 1rem;
}

.toolbarTitle,
.toolbarMenu {
    margin: auto 2rem;
}

.normalMenu {
    display: none;
}

.hamburgerMenu {
    display: block;
}

.toolbarTitle a{
    font-family: "WeeklyAlt";
    font-weight: 300;
    font-size: 1.25rem;
    font-weight: 400;
}

.footer {
    text-align: end;
}

.rights {
    padding: 1rem;
    font-size: .75rem;
    font-weight: 300;
}

@media(min-width : 560px) {
    .normalMenu {
        display: block;
    }

    .hamburgerMenu {
        display: none;
    }
}