.container {
    margin: 0rem 0rem;
    background-color: #FFFFFB;
}

.toolbar {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    text-align: baseline;
}

.toolbar ul {
    display: flex;
    list-style: none;
}

.toolbar nav a {
    font-family: "Weekly";
    font-weight: 100;
    font-size: 1.8rem;
    margin: 0 1rem;
}

.toolbarTitle a{
    font-family: "WeeklyPro";
    font-weight: 400;
    font-size: 1.8rem;
    font-weight: 400;
}

.footer {
    text-align: end;
}

.rights {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
}
