.fixedRatioWrapper {
    position: relative;
    width: 100%;
}

.fixedRatioWrapper::before {
    content: "";
    display: block;
    padding-top: 8.33%;
}

.imageContainer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.coverImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    object-position: 0% 40%;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 3rem;
    text-align: start;
    line-height: 140%;
    font-weight: 600;
    color: #1C1C1C;
    margin-top: .5rem;
}

.attributes {
    display:block;
    color: #BDC0BA;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.tags {
    margin-left: 1rem;
}