.coverImage {
    width: 100%;
}

.container {
    margin-left: 1.44rem;
    margin-right: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.73rem;
}

.title {
    font-size: 2.1rem;
    text-align: start;
    line-height: 120%;
}

.description {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    text-align: start;
    line-height: 120%;
}