.coverImage {
    width: 100%;
}

.container {
    margin-left: 2.88rem;
    margin-right: 2rem;
    margin-top: 2.4rem;
    margin-bottom: 3.46rem;
}

.title {
    font-size: 4.1rem;
    text-align: start;
    line-height: 120%;
    font-weight: 400;
}

.name {
    color: #FFFFFB;
    background: #BDC0BA;
    text-decoration: none;
    padding: .5rem;
}

.description {
    margin-top: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    text-align: start;
    line-height: 160%;
    font-weight: 300;
}