.topSection {
  margin-top: 1rem;
}

.fixedRatioWrapper {
  position: relative;
  width: 100%;
}

.fixedRatioWrapper::before {
  content: '';
  display: block;
  /*  16:9  */
  padding-top: 56.25%;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.coverImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
  object-position: 0% 30%;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
}

.twoColumnBlock {
}

.attributesContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 180%;
  text-align: start;
  border-left: 1px #1c1c1c solid;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

.description {
  width: 100%;
  text-align: start;
}

.note {
  width: 100%;
  text-align: start;
}

.attributeLabel {
  margin-right: 1rem;
  font-weight: 300;
}

.attributeBody {
  font-weight: 400;
}

.gridContainer {
  display: grid;
  list-style: none;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-flow: dense;
}

.grid {
  width: auto;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  border: solid 1px #bdc0ba;
}

.linkList {
  list-style: none;
}

.link {
  text-decoration: underline;
}

.videoContainer {
  text-align: center;
}

.video {
  width: 80%;
}

@media (min-width: 560px) {
  .title {
    width: 70%;
  }

  .topSection {
    margin-top: 3rem;
  }

  .attributesContainer {
    width: 25%;
    float: right;
    margin-bottom: 0;
  }

  .description {
    width: 70%;
    float: left;
  }

  .note {
    width: 70%;
    float: left;
  }

  .twoColumnBlock {
    overflow: hidden;
    position: relative;
  }
}
