.container{
    margin: 0;
}

.date{
    font-family: "Weekly";
    font-weight: 300;
    font-size: 1.25rem;
    text-align: start;
}

.hidden{
    display: none;
    visibility: hidden;
}

.content{
    margin-top: .5rem;
}

.title{
    font-family: "Weekly";
    font-weight: 400;
    font-size: 1.25rem;
    text-align: start;
    line-height: 120%;
}

.description{
    font-family: "WeeklyAlt";
    font-weight: 300;
    font-size: 1rem;
    text-align: start;
    line-height: 180%;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

@media ( min-width: 560px ) {
    .container{
        overflow: hidden;
        position: relative;
    }
    
    .date{
        width: 120px;
        float: left;
    }

    .hidden{
        display: block;
        visibility: hidden;
    }
    
    .content{
        width: 70%;
        float: left;
        border-left: 3px #a1a1a1 solid;
        padding-left:  30px;
        margin-top: 0;
    }
}