@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Crimson+Text&family=Libre+Baskerville&family=Noto+Serif+JP:wght@300&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    /* font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif JP', serif; */
    font-family: 'Crimson Text', serif, 'Noto Serif JP', serif;
}

nav {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: #1C1C1C;
    background: transparent;
    text-decoration: none;
    transition: all .2s linear;
}

a:hover {
    color: white;
    background: #58B2DC;
    text-decoration: none;
}