.container{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'WeeklyAlt';
    line-height: 180%;

    a {
        color: #1C1C1C;
        background: transparent;
        text-decoration: underline;
        transition: all .2s ease-in-out;
        font-weight: 200;
    }
    
    a:hover {
        color: #FFFFFB;
        background: #BDC0BA;
        text-decoration: none;
    }

    p {
        margin: 2rem 0;
    }

    ul,
    ol {
        margin: 2rem 0;
        padding-left: 2rem;
        ul,
        ol {
            margin: 0;
        }
    }

    li {
        margin: 1rem 0;
    }

    h2 {
        font-family: 'WeeklyPro';
        font-size: 2.1rem;
        text-align: start;
        line-height: 140%;
        font-weight: 600;
        color: #1C1C1C;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        padding-bottom: .8rem;
        border-bottom: thin solid #BDC0BA;
    }

    h3 {
        font-family: 'WeeklyPro';
        font-size: 1.25rem;
        text-align: start;
        line-height: 160%;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    img {
        width: 30%;
    }
}